header {
    background-color: rgb(187, 143, 245, 0.5);
    font-size: 12px;
}

body {
    background-image: url("images/tiedye.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    opacity: 0.3;
}

h1 {
    color: white;
    background:rgb(0, 0, 0, 0.5);
    padding: 15 px;
}

p {
    color: black;
    padding: 15px;
    background-color: rgba(188, 245, 190, 0.45);
    text-align: justify;
}

* {font-family: "Arial black" Gadjet, sans-serif;}

article {
    font-family: Georgia, serif;
    backface-visibility: visible;
}